/* Definitions of colors */
$navigation-bar-text: #f857a8;
$navigation-bar-background: #ff5858;

/* Navigation bar */
nav{
  margin: 0;
  padding: 0;
  background-color: $navigation-bar-background;
}
